body {
  background: #343477;
}
.screen {
  position: relative;
  margin: 0 auto;
  width: 1000px;
  height: 600px;
  /*border: 1px solid grey;*/
  /*background: url(https://images.unsplash.com/photo-1424460421773-58b49adfc68a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=1815b3a5836c6240d0dcfaed14808ef6);
  background-size: cover;*/
  background: #09093B;
}

.map {
  position: relative;
  width: 100%;
  height: 100%;
}

.progress-bar {
  position: absolute;
  bottom: -20px;
  height: 20px;
  display: flex;
  width: 100%;
}

.playerOne {
  background: #116611;
  transition: flex 0.3s ease-in-out 0s;
}
.playerOne div {
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  background: #004400;
  position: absolute;
  bottom: -12px;
}
.playerOne span {
  color: white;
  font-family: Helvetica, sans-serif;
  padding: 3px;
  position: absolute;
  background: #004400;
  bottom: -31px;
  left: -28px;
}
.neutral {
  background: grey;
  transition: flex 0.3s ease-in-out 0s;
}
.playerTwo {
  background: #801515;
  transition: flex 0.3s ease-in-out 0s;
}
.playerTwo div {
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  background: #004400;
  position: absolute;
  bottom: -12px;
  right: 0;
}
.playerTwo span {
  color: white;
  font-family: Helvetica, sans-serif;
  padding: 3px;
  position: absolute;
  background: #004400;
  bottom: -31px;
  right: -28px;
}

.unit, .planet {
  position: absolute;
  width: 0;
  height: 0;
  overflow: visible;
}
.planet {
  color: white;
  box-sizing: border-box;
  text-align: center;
  padding-top: 12px;
  background: grey;
  transition: width 0.2s ease-out 0s, height 0.2s ease-out 0s,
    left 0.2s ease-out 0s, bottom 0.2s ease-out 0s;
}
.planet.playerOne:hover, .planet.selected {
  cursor: pointer;
  box-shadow: 0 0 10px 3px #004400;
}

.target {
  box-shadow: 0 0 10px 2px yellow;
}
.target:hover {
  cursor: pointer;
}

.unit.playerOne {
  background: url(http://imgur.com/mw4McKo.png);
  background-size: cover;
  /*background: lightgreen;*/
}
.planet.playerOne {
  background: #116611;
}

.unit.playerTwo {
  /*background: #AA3939;*/
  background: url(http://i.imgur.com/FrpDJDu.png);
  background-size: cover;
}
.planet.playerTwo {
  background: #801515;
}
